{% extends 'base.html' %}
{% load static %}
{% block content %}
    <nav>
        <div class="logo">
            <a href="{% url 'main_page' %}">Gala<em>xy</em></a>
        </div>
      <div class="menu-icon">
        <span></span>
      </div>
    </nav>

    <div class="page-heading">
        <div class="container">
            <div class="heading-content">
                <h1>Single <em>Post</em></h1>
            </div>
        </div>
    </div>


    <div class="blog-entries">
        <div class="container">
            <div class="col-md-9">
                <div class="blog-posts">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="single-blog-post">
                                <img src="{{ blog.img.url }}">
                                <div class="text-content">
                                    <h2>{{ blog.topic }}</h2>
                                    <span><a href="#">{{ blog.user }}</a> / <a href="#">{{ blog.pub_date }}</a> / <a href="#">{{ blog.category }}</a></span>
                                    <p>
                                        {{ blog.text }}
                                    <br>
                                    <a href="{% url 'blogs' %}">Back to Blog</a>
                                    </p>
                                    <div class="tags-share">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <ul class="tags">
                                                    <li>Tags:</li>
                                                    {% for tag in blog.tag.all %}
                                                    <li><a href="#">{{ tag.title }}</a></li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                            <div class="col-md-6">
                                                <ul class="share">
                                                    <li>Share:</li>
                                                    <li><a href="#">facebook</a>,</li>
                                                    <li><a href="#">twitter</a>,</li>
                                                    <li><a href="#">behance</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="side-bar">
                    <div class="search">
                        <fieldset>
                            <input name="search" type="text" class="form-control" id="search" placeholder="Search..." required>
                        </fieldset>
                    </div>
                    <div class="archives">
                        <div class="sidebar-heding">
                            <h2>Archives</h2>
                        </div>
                        <ul>
                            <li><a href="#">> 2018 September (4)</a></li>
                            <li><a href="#">> 2018 August (16)</a></li>
                            <li><a href="#">> 2018 July (5)</a></li>
                            <li><a href="#">> 2018 May (3)</a></li>
                            <li><a href="#">> 2018 February (27)</a></li>
                            <li><a href="#">> 2017 December (18)</a></li>
                            <li><a href="#">> 2017 November (12)</a></li>
                        </ul>
                    </div>
                    <div class="recent-posts">
                        <div class="sidebar-heding">
                            <h2>Recent Posts</h2>
                        </div>
                        <ul>
                            {% for post in recent_posts %}
                            <li>
                                <a href="single-post.html">
                                    <img src="{{ post.img.url }}">
                                    <div class="text">
                                        <h6>{{ post.topic }}</h6>
                                        <span>{{ post.pub_date }}</span>
                                    </div>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="categories">
                        <div class="sidebar-heding">
                            <h2>Categories</h2>
                        </div>
                        <ul>
                            {% for category in categories %}
                            <li><a href="#">> {{ category.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="latest-gallery">
                        <div class="sidebar-heding">
                            <h2>Latest Gallery</h2>
                        </div>
                        <ul>
                            <li><a href="#"></a><img src="{% static 'img/latest_gallery_1.png' %}" alt=""></a></li>
                            <li><a href="#"></a><img src="{% static 'img/latest_gallery_2.png' %}" alt=""></a></li>
                            <li><a href="#"></a><img src="{% static 'img/latest_gallery_3.png' %}" alt=""></a></li>
                            <li><a href="#"></a><img src="{% static 'img/latest_gallery_4.png' %}" alt=""></a></li>
                            <li><a href="#"></a><img src="{% static 'img/latest_gallery_5.png' %}" alt=""></a></li>
                            <li><a href="#"></a><img src="{% static 'img/latest_gallery_6.png' %}" alt=""></a></li>
                            <li><a href="#"></a><img src="{% static 'img/latest_gallery_7.png' %}" alt=""></a></li>
                            <li><a href="#"></a><img src="{% static 'img/latest_gallery_8.png' %}" alt=""></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <footer>
        <div class="container-fluid">
            <div class="col-md-12">
                <p>Copyright &copy; 2018 Company Name 
    
    | Designed by TemplateMo</p>
            </div>
        </div>
    </footer>


      <!-- Modal button -->
    <div class="popup-icon">
      <button id="modBtn" class="modal-btn"><img src="{% static 'img/contact-icon.png' %}" alt=""></button>
    </div>  

    <!-- Modal -->
    <div id="modal" class="modal">
      <!-- Modal Content -->
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h3 class="header-title">Say hello to <em>Highway</em></h3>
          <div class="close-btn"><img src="{% static 'img/close_contact.png' %}" alt=""></div>    
        </div>
        <!-- Modal Body -->
        <div class="modal-body">
          <div class="col-md-6 col-md-offset-3">
            <form id="contact" action="" method="post">
                <div class="row">
                    <div class="col-md-12">
                      <fieldset>
                        <input name="name" type="text" class="form-control" id="name" placeholder="Your name..." required>
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <input name="email" type="email" class="form-control" id="email" placeholder="Your email..." required>
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your message..." required></textarea>
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <button type="submit" id="form-submit" class="btn">Send Message Now</button>
                      </fieldset>
                    </div>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    

    <section class="overlay-menu">
      <div class="container">
        <div class="row">
          <div class="main-menu">
              <ul>
                  <li>
                      <a href="{% url 'main_page' %}">Home</a>
                  </li>
                  <li>
                      <a href="{% url 'blogs' %}">Blog Entries</a>
                  </li>
                  <li>
                      <a href="about.html">About Us</a>
                  </li>
              </ul>
              <p>Choose what you want</p>
          </div>
        </div>
      </div>
    </section>
{% endblock content %}